*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

header{
  width: 100%;
}

.title{
  margin-left: 20%;
  color: #2b90e3;
}

.searching{
  background-color: #3296e9;
  height: 75px;

}
.search{
  margin-left: 20%;
  height: 50px;
  margin-top: 0.5%;
  width: 55%;
}
.trendGif{
  margin-left: 20%;
  /* background-color: rebeccapurple; */
  margin-right: 25%;
  height: 20%;
} 

.gifs{
  margin-left: 20%;
  /* background-color: rebeccapurple; */
  margin-right: 25%;
  height: 20%;
}

.salient{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%; 
  height: 100%; 
}